$border-color: #DCDFE6; /* 一级边框 */
$border-secondary:#E4E7ED; /* 二级边框 */
$header-bg-grey: #f8f8f8; /* 表格header 背色 */
$light-grey:#c0c4cc; /* 浅灰色 */
$blue:#409EFF;
$success:#67C23A;
$warning:#E6A23C;
$danger:#F56C6C;
$Info:#909399;

@mixin flex-vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
} /* 垂直居中 */

@mixin flex-vertical {
    display: flex;
    align-items: center;
} /* flex 垂直 */

@mixin flex-vertical-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
} /* 垂直右对齐 */

@mixin flex-vertical-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
} /* 垂直分散对齐 */

@mixin list-style() {
    padding: 10px;
    height: 40px;
} /* 表格样式 */
//卡片样式
.card{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem;
}
.card-header{
  padding: .75rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
  &:first-child{
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  }
}
.nullMsg {
  margin-top: 50px;
  height: 100px;
  font-size: 50px;
  color: #d8d8d8;
}
