$border-color: #333;
$header-bg-grey: #f8f8f8; /* 表格header 背色 */
$light-grey:#c0c4cc; /* 浅灰色 */
@mixin flex-vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
} /* 垂直居中 */

@mixin flex-vertical {
    display: flex;
    align-items: center;
} /* flex 垂直 */

@mixin flex-vertical-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
} /* 垂直右对齐 */

@mixin flex-vertical-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
} /* 垂直分散对齐 */

@mixin list-style() {
    padding: 10px;
    height: 40px;
} /* 表格样式 */
//卡片样式
.card{
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-header{
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
  &:first-child{
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  }
}
