$border-color: #333;
$header-bg-grey: #f8f8f8; /* 表格header 背色 */

@mixin flex-vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
} /* 垂直居中 */

@mixin flex-vertical {
    display: flex;
    align-items: center;
} /* flex 垂直 */

@mixin flex-vertical-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
} /* 垂直右对齐 */

@mixin flex-vertical-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
} /* 垂直分散对齐 */

@mixin list-style() {
    padding: 10px;
    height: 40px;
} /* 表格样式 */
